.equal .item1 {
  background: aqua;
  height: 180px;
}
.equal .item2 {
  background: aliceblue;
  height: 180px;
}
.equal .item3 {
  background: aquamarine;
  height: 180px;
}
.equal .item4 {
  background: blanchedalmond;
  height: 180px;
}
